.second {
  @media screen and (min-width: $sm){
    padding: 18% 4% 15% 4%;
  }

  @media screen and (min-width: $md){
    padding: 14% 4% 11% 4%;
  }

  @media screen and (min-width: $lg){
    padding: 12% 4%;
  }
  @media screen and (min-width: $xl){
    padding: 11% 4%;
  }

  color: $pla;
}
