.editRoom{
  margin-top: 15%;
  @media screen and (min-width:$md){
    margin-top: 4%;
  }
}

.editRoomSectionTitle{
  margin: 8%;
}

.editRoomInfos{
  margin-bottom: 7%;
}

.roomNameNCover {
  padding: 8% 6%;
  color : rgb(26, 182, 164);
  font-size: 110%;
  margin-bottom: 2%;
}

.goChangeCover {
  float: right;
  padding: 1% 2%;
  background: #fff;
  color : black;
 & a {
   text-align: center;
   color : black;
 }

}


.ui_profile_img>div{
  @include flex_center_img(80%);
}

.new_img_form {
  border-bottom: $grab;
  margin-bottom: 3%;
}

.add_new_room_image {
  margin-top: 3%;
}

.ui_imgs{
  margin-bottom: 5%;
  border-bottom: $grab;
}

.ui_existing_imgs {
  text-align: center;
}

.ui_listed_img {
  @include flex_center_img(40%);

}

.showUpload{
  @include flex_center_img(10%);
}

#uploadProfile, #uploadCover{
  display: none;
}
