.mailTo {
  & table {
    width: 100%;

    & tr, & td {
      border: $grab;
    }
  }
}

.sendMail{
  display: block;
  margin-top: 3%;
}

.mailTitle{
  margin: 3% 0%;
  width: 80%;
}

.mailBackInfo{
  margin: 5% 0;
}
